<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="data.js"></script>
    <style>
        .error {
            color: red;
        }
        .success {
            color: green;
        }
        b {
            color: #000;
        }
    </style>
</head>
<body>
<h3>Login</h3>
<div id="message"></div>
<form action="#" method="post" id="form_login">
    <input id="username" name="username" placeholder="username" type="text"><br/>
    <input id="password" name="password" placeholder="password" type="password"><br/>
    <input id="btn_login" type="button" value="Log In">
</form>

</body>
<script>
    $(document).on('click', '#btn_login', function () {
        var url = stageBaseURLs+'/login';
        $.ajax({
            type: 'POST',
            url: url,
            data: $('#form_login').serialize(),
            dataType: "json",
            success: function (data) {
                if (data.result == 1) {
                    window.location.href = '/';
                }
            }, error: function (errors, exception) {
                if (exception == 'error') {
                    if (errors.responseJSON.message) {
                        var error = '';
                        if (Array.isArray(errors.responseJSON.errors)) {
                            $.each(errors.responseJSON.errors, function (index, array) {
                                error += '<li>' + array.message + '</li>';
                            });
                        } else {
                            error += '<li>' + errors.responseJSON.errors + '</li>';
                        }
                        $('#message').html(error);
                        $('#message').addClass("error");
                    }
                }
            }, beforeSend: function () {
                $('#message').html('');
            }
        });
    });
</script>
</html>
